@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/grid';

.addConfiguration {
  padding: .5rem 0;

  option:disabled {
    color: lightgray;
  }

  .file-input {
   opacity: 0;
  }

  .file-label--disabled {
    background-color: #e9ecef;
  }
}

.segmentSelector {
  position: relative;

  &__button {
    cursor: pointer;
    overflow: hidden;
  }

  .dropdown-item {
    margin-bottom: 0;
    padding-left: 2rem;
  }
}
